web/schema/line.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar ns="" xmlns="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <start>
    <element name="table">
      <attribute name="columns">
        <data type="integer"/>
      </attribute>
      <oneOrMore>
        <element name="tr">
          <oneOrMore>
            <choice>
              <element name="n">
                <empty/>
              </element>
              <element name="td">
                <text/>
              </element>
            </choice>
          </oneOrMore>
        </element>
      </oneOrMore>
    </element>
  </start>
</grammar>
